@using Store.Web.Dtos.Product;
@model List<ProductMarketViewDto>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Имя</th>
            <th scope="col">Описание</th>
            <th scope="col">Количество</th>
            <th scope="col">Цена</th>
            <th scope="col">Валюта</th>
        </tr>
    </thead>
    <tbody>
        @{
            int counter = 1;

            foreach (ProductMarketViewDto item in Model)
            {
                <tr>
                    <th scope="row">@counter</th>
                    <td>@item.Name </td>
                    <td>@item.Description</td>
                    <td>@item.Amount</td>
                    <td>@item.Price</td>
                    <td>@item.Currency</td>
                </tr>
                counter++;
            }
        }

    </tbody>
</table>